{% extends 'base.html.twig' %}
{% block body %}
    {% include '_navbar.html.twig' %}
    <h3>Liste des épisodes de la série {{ program.title }} :</h3>
    <h4>Saison {{ season.number }} : </h4>
    {% for episode in season.episodes %}
        <li>
            <ul>
                <h4>{{ episode.number }} | <a href="{{ path('program_episode_show',
                        { programId: program.id, seasonId: season.id, episodeId: episode.id}) }}">{{ episode.title }}</a></h4>
            </ul>
        </li>
    {% endfor %}
    <a href="{{ path('program_index', { programId: program.id }) }}">Retour</a>
{% endblock %}